<launch>
  <include file="$(find vins)/launch/rs_camera_modify.launch" /> 
  <node pkg="dynamic_reconfigure" name="dynparam" type="dynparam" args="set /camera/stereo_module 'emitter_enabled' 0" launch-prefix="bash -c 'sleep 2.0; $0 $@'"/>
  <include file="$(find vins)/launch/laptop_435.launch"/> 
  <node name="hebinode" pkg="hebiros" type="hebiros_node" /> 
  <node name="estimator_node_vc" pkg="reusnake_control" type="estimator_node_vc" launch-prefix="bash -c 'sleep 2.0; $0 $@'">
    <remap from="/reusnake/joint_state" to="/reusnake/joint_state_vc"/>
    <remap from="/reusnake/measurement_model" to="/reusnake/measurement_model_vc"/>
  </node>
</launch>
