<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/m6</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

<xacro:macro name="gazeboColor" params="leg mod1 mod2 mod3">
    <gazebo reference="${mod1}__INPUT_INTERFACE">
      <material>Gazebo/Red</material>
      <static>false</static>
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${mod2}__INPUT_INTERFACE">
      <material>Gazebo/Red</material>
      <static>false</static>
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${mod3}__INPUT_INTERFACE">
      <static>false</static>
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${leg}__LAST_LINK">
      <material>Gazebo/Grey</material>
      <mu1>0.99</mu1>
      <mu2>0.99</mu2>
      <static>false</static>
      <selfCollide>true</selfCollide>
    </gazebo>
  </xacro:macro>


  <xacro:macro name="modSensors" params="mod">
    <gazebo reference="${mod}">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <!-- joint_torque_sensor plugin -->
    <gazebo>
      <plugin name="${mod}_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <robotNamespace>/m6</robotNamespace>
        <updateRate>200.0</updateRate>
        <gaussianNoise>0.025</gaussianNoise>
        <topicName>sensors/${mod}/torque</topicName> 
        <jointName>${mod}</jointName>
      </plugin>
    </gazebo>
  </xacro:macro>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <xacro:gazeboColor leg="leg1" mod1="${L1_1}" mod2="${L1_2}" mod3="${L1_3}"/>
  <xacro:gazeboColor leg="leg2" mod1="${L2_1}" mod2="${L2_2}" mod3="${L2_3}"/>
  <xacro:gazeboColor leg="leg3" mod1="${L3_1}" mod2="${L3_2}" mod3="${L3_3}"/>
  <xacro:gazeboColor leg="leg4" mod1="${L4_1}" mod2="${L4_2}" mod3="${L4_3}"/>
  <xacro:gazeboColor leg="leg5" mod1="${L5_1}" mod2="${L5_2}" mod3="${L5_3}"/>
  <xacro:gazeboColor leg="leg6" mod1="${L6_1}" mod2="${L6_2}" mod3="${L6_3}"/>

  <xacro:modSensors mod="${L1_1}"/>
  <xacro:modSensors mod="${L1_2}"/>
  <xacro:modSensors mod="${L1_3}"/>
  <xacro:modSensors mod="${L2_1}"/>
  <xacro:modSensors mod="${L2_2}"/>
  <xacro:modSensors mod="${L2_3}"/>
  <xacro:modSensors mod="${L3_1}"/>
  <xacro:modSensors mod="${L3_2}"/>
  <xacro:modSensors mod="${L3_3}"/>
  <xacro:modSensors mod="${L4_1}"/>
  <xacro:modSensors mod="${L4_2}"/>
  <xacro:modSensors mod="${L4_3}"/>
  <xacro:modSensors mod="${L5_1}"/>
  <xacro:modSensors mod="${L5_2}"/>
  <xacro:modSensors mod="${L5_3}"/>
  <xacro:modSensors mod="${L6_1}"/>
  <xacro:modSensors mod="${L6_2}"/>
  <xacro:modSensors mod="${L6_3}"/>

  <gazebo>
    <plugin name="p3d" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>nav_msgs</topicName>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0.0</xyzOffsets>
      <rpyOffsets>0 0 0.0</rpyOffsets>
    </plugin>
  </gazebo>
</robot>