<?xml version="1.0"?>
<robot
  name="m6" xmlns:xacro="http://www.ros.org/wiki/xacro">  
  <xacro:property name="pi" value="3.1415"/>

  <xacro:property name="L1_1" value="base1"/>
  <xacro:property name="L1_2" value="shoulder1"/>
  <xacro:property name="L1_3" value="elbow1"/>

  <xacro:property name="L2_1" value="base2"/>
  <xacro:property name="L2_2" value="shoulder2"/>
  <xacro:property name="L2_3" value="elbow2"/>

  <xacro:property name="L3_1" value="base3"/>
  <xacro:property name="L3_2" value="shoulder3"/>
  <xacro:property name="L3_3" value="elbow3"/>

  <xacro:property name="L4_1" value="base4"/>
  <xacro:property name="L4_2" value="shoulder4"/>
  <xacro:property name="L4_3" value="elbow4"/>

  <xacro:property name="L5_1" value="base5"/>
  <xacro:property name="L5_2" value="shoulder5"/>
  <xacro:property name="L5_3" value="elbow5"/>

  <xacro:property name="L6_1" value="base6"/>
  <xacro:property name="L6_2" value="shoulder6"/>
  <xacro:property name="L6_3" value="elbow6"/>

  <xacro:include filename="./m6_left_leg.urdf.xacro"/>
  <xacro:include filename="./m6_right_leg.urdf.xacro"/>

  <!-- <link name="dummy">
  </link>

  <joint name="dummy_joint" type="fixed">
  <parent link="dummy"/>
  <child link="base_link"/>
  </joint> -->
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0028085 -0.0003448 0.0270705"
        rpy="0 0 0 " />
      <mass
        value="1.8476" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titan6_general_cpp/meshes/M6_base_matt6_boxed_full.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.39216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titan6_general_cpp/meshes/M6_base_matt6_boxed_full.STL" />
      </geometry>
    </collision>
  </link>

  <xacro:m6_left_leg prefix="1" mod1="${L1_1}" mod2="${L1_2}" mod3="${L1_3}" base_x="0.205681" base_y="0.11875" base_ang="${pi/6}"/>
  <xacro:m6_left_leg prefix="3" mod1="${L3_1}" mod2="${L3_2}" mod3="${L3_3}" base_x="0" base_y="0.1875" base_ang="${pi/2}"/>
  <xacro:m6_left_leg prefix="5" mod1="${L5_1}" mod2="${L5_2}" mod3="${L5_3}" base_x="-0.205681" base_y="0.11875" base_ang="${5*pi/6}"/>
 
  <xacro:m6_right_leg prefix="2" mod1="${L2_1}" mod2="${L2_2}" mod3="${L2_3}" base_x="0.205681" base_y="-0.11875" base_ang="${-pi/6}"/>
  <xacro:m6_right_leg prefix="4" mod1="${L4_1}" mod2="${L4_2}" mod3="${L4_3}" base_x="0" base_y="-0.1875" base_ang="${-pi/2}"/>
  <xacro:m6_right_leg prefix="6" mod1="${L6_1}" mod2="${L6_2}" mod3="${L6_3}" base_x="-0.205681" base_y="-0.11875" base_ang="${-5*pi/6}"/>


  <xacro:include filename="./m6.gazebo.xacro"/>
</robot>