

<launch>
  <node name="vins_estimator" pkg="vins" type="vins_node" args="$(find vins)../config/realsense_d435i/realsense_stereo_imu_config.yaml" output="screen" /> 

  
  <node name="vins_estimator_fusion" pkg="loop_fusion" type="loop_fusion_node" args="$(find vins)../config/realsense_d435i/realsense_stereo_imu_config.yaml" output="screen" /> 





  <include file="$(find vins)/launch/vins_rviz.launch" />
</launch>
